<p>transacciones works!</p>


<button (click)="createForm()">Crear</button>
<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Motivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of transactions; track $index) {
      <tr [class.pair]="($index+1)%2===0">
        <td>
          {{item.amount}}
        </td>
        <td>
          {{item.descripcion}}
        </td>
        <th>
          <button (click)="updateForm(item)">Actualizar</button>
          <button (click)="deleteTransaction(item.id)">Borrar</button>
        </th>
      </tr>
    }@empty {
      <tr>No hay datos</tr>
    }
  </tbody>
</table>
@if (formTransactions) {
  <form [formGroup]="formTransactions" (submit)="guardarForm()">
    <label for="amount">Monto</label>
    <input formControlName="amount" type="number" id="amount">
    <label for="descripcion">Motivo</label>
    <textarea formControlName="descripcion" id="descripcion"></textarea>

    <label for="tipo">Tipo</label>
    <select formControlName="tipo_transaccion_id" id="tipo">
      <option value="null">seleccione</option>
      @for(item of tipoTransaccions; track $index){
        <option [value]="item.id">{{item.name}}</option>

      }

    </select>


    <label for="fecha">Fecha</label>
    <input formControlName="date" type="date" id="fecha">

    <button type="submit">Guardar</button>
    <button (click)="cancelarForm()">Cancelar</button>
  </form>
}
