<p>transacciones works!</p>

<main class="container">



  <button class="boton" (click)="createForm()">Crear</button>
  <table class="tabla">
    <thead>
      <tr>
        <th>Monto</th>
        <th>Motivo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of transactions; track $index) {
      <tr [class.pair]="($index+1)%2===0">
        <td>
          {{item.amount}}
        </td>
        <td>
          {{item.descripcion}}
        </td>
        <th>
          <div class="caja-botones">
            <button class="btn-accion" (click)="updateForm(item)">
              <span class="material-symbols-outlined">
                update
              </span>

              <span class="sub-text">Actualizar</span>
            </button>

            <button class="btn-accion" (click)="deleteTransaction(item.id)">
              <span class="material-symbols-outlined">
                delete
              </span>

              <span class="sub-text">borrar</span>
            </button>
          </div>



        </th>
      </tr>
      }@empty {
      <tr>No hay datos</tr>
      }
    </tbody>
  </table>
  @if (formTransactions) {
  <form [formGroup]="formTransactions" (submit)="guardarForm()">
    <label for="amount">Monto</label>
    <input formControlName="amount" type="number" id="amount">
    <label for="descripcion">Motivo</label>
    <textarea formControlName="descripcion" id="descripcion"></textarea>

    <label for="tipo">Tipo</label>
    <select formControlName="tipo_transaccion_id" id="tipo">
      <option value="null">seleccione</option>
      @for(item of tipoTransaccions; track $index){
      <option [value]="item.id">{{item.name}}</option>

      }

    </select>


    <label for="fecha">Fecha</label>
    <input formControlName="date" type="date" id="fecha">

    <button type="submit">Guardar</button>
    <button (click)="cancelarForm()">Cancelar</button>
  </form>
  }
</main>