<button (click)="createForm()">Crear</button>
<table>
  <thead>
    <tr>
      <th>Monto</th>
      <th>Motivo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of transactions; track $index) {
      <tr [class.pair]="($index+1)%2===0">
        <td>
          {{item.amount}}
        </td>
        <td>
          {{item.reason}}
        </td>
        <th>
          <button (click)="updateForm(item,$index)">Actualizar</button>
          <button (click)="deleteTransaction($index)">Borrar</button>
        </th>
      </tr>
    }@empty {
      <tr>No hay datos</tr>
    }
  </tbody>
</table>
@if (formTransactions) {
  <form [formGroup]="formTransactions" (submit)="guardarForm()">
    <label for="amount">Monto</label>
    <input formControlName="amount" type="number" id="amount">
    <label for="reason">Motivo</label>
    <textarea formControlName="reason" id="reason"></textarea>
    <button type="submit">Guardar</button>
    <button (click)="cancelarForm()">Cancelar</button>
  </form>
}